@using LDBeauty.Core.Models.User
@model  List<UserProductsViewModel>

<h2 class="text-center mt-5">User: @ViewData["Name"]</h2>
<h3 class="text-center mt-5">orders:</h3>

<div class="container justify-content-center">

    <table class="table table-striped mt-5">
        <thead>
            <tr>
                <th scope="col">Make</th>
                <th scope="col">Name</th>
                <th scope="col">Quantity</th>
                <th scope="col">Date</th>
                <th scope="col">Price</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in @Model)
           {      
            <tr>
                <th>@item.Make</th>
                <td>@item.Name</td>
                <td>@item.Quantity</td>
                <td>@item.Date</td>
                <td>@item.Price lv.</td>
            </tr>
           }
        </tbody>
    </table>
</div>
