@using LDBeauty.Core.Models.Product
@model List<GetProductViewModel>

@if (@Model.Count() == 0)
{
    <h3 class="text-center mt-5 m-4">You don't have favourite products! </h3>

    <div class="d-flex justify-content-center m-4">
        <a class="btn btn-outline-dark mt-auto" asp-action="allProducts" asp-controller="product" asp-route-id="">Go to products page</a>
    </div>
}
else
{

    <h3 class="text-center mt-5">Favourite Products: </h3>

    <section class="py-5">
        <div class="container px-4 px-lg-5 mt-5">
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                @foreach (var product in @Model)
                {
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                    <a asp-action="details" asp-controller="product" asp-route-id="@product.Id" class="btn">
                                <img class="card-img-top" src="@product.ProductUrl" alt="..." />
                            </a>
                            <!-- Product details-->
                    <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                            <h5 class="fw-bolder">@product.Make</h5>
                                    <h5 class="fw-bolder">@product.ProductName</h5>
                                    <!-- Product price-->
                            @product.Price lv.
                                </div>
                                @if (product.Quantity <= 0)
                                {
                                    <div class="text-center">
                                        Qty: 0
                                    </div>
                                }
                                else
                                {
                                    <div class="text-center">
                                        Qty: @product.Quantity
                                    </div>
                                }
                            </div>
                            <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a asp-action="removeProduct" asp-controller="myLd" asp-route-id="@product.Id" class="btn btn-outline-dark mt-auto">Remove</a></div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </section>
}
